<section class="panel panel-default">
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
    <h1>About Page</h1>
</section>
<section class="panel panel-default">
    <!-- <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Bullet</div> -->
    <div class="panel-body">
        <div class="divider divider-lg"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="ui-bullet">
                    <div class="btn-icon btn-icon-round btn-icon-lg bg-primary">
                        <i class="fa fa-cab"></i>
                    </div>
                    <div class="ui-bullet-content">
                        <h3>This Bullet Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ui-bullet">
                    <div class="btn-icon btn-icon-round btn-icon-lg bg-info">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="ui-bullet-content">
                        <h3>Another Bullet Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ui-bullet">
                    <div class="btn-icon btn-icon-round btn-icon-lg bg-danger">
                        <i class="fa fa-joomla"></i>
                    </div>
                    <div class="ui-bullet-content">
                        <h3>Last Bullet Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider divider-lg"></div>
    </div>
</section>
