<section class="panel panel-default">
    <section class="panel panel-box" style="margin: 0px; height: 300px;">
        <div class="panel-left panel-item bg-info">
            <i class="fa fa-search text-huge"></i>
        </div>
        <div class="panel-right panel-item bg-reverse">
            <p class="size-h3">Searh For An Adventure.</p>
            <p class="text-muted">Use our search to decide what type of adventure, the location, cost range, when, number of people, and options you're looking for.</p>
        </div>
    </section>
    <section class="panel panel-box" style="margin: 0px; height: 300px;">
        <div class="panel-left panel-item bg-reverse">
            <p class="size-h3">Request Booking & Setup Payment.</p>
            <p class="text-muted">Once you've found the right adventure, submit a request to the host. Also make sure your payment is on file, when the hosts confirm you will be billed.</p>
        </div>
        <div class="panel-right panel-item bg-success">
            <i class="fa fa-laptop text-huge"></i>
        </div>
    </section>
    <section class="panel panel-box" style="margin: 0px; height: 300px;">
        <div class="panel-left panel-item bg-warning">
            <i class="fa fa-check-square-o text-huge"></i>
        </div>
        <div class="panel-right panel-item bg-reverse">
            <p class="size-h3">Recieve Confirmation</p>
            <p class="text-muted">Work out the details with the host and make sure you have all of the required equipment, skills, & prepare for your adventure.</p>
        </div>
    </section>
    <section class="panel panel-box" style="margin: 0px; height: 300px;">
        <div class="panel-left panel-item bg-reverse">
            <p class="size-h3">Go On Your Adventure. Review & Share.</p>
            <p class="text-muted">Enjoy your experience, rate your host, and share with the community.</p>
        </div>
        <div class="panel-right panel-item bg-success">
            <i class="fa fa-suitcase text-huge"></i>
        </div>
    </section>
    <!-- <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Thumbnails</strong></div> -->
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img alt="" src="images/assets/600_400-1.jpg">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="javascript:;" class="btn btn-primary" role="button">Button</a> <a href="javascript:;" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img alt="" src="images/assets/600_400-2.jpg">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="javascript:;" class="btn btn-primary" role="button">Button</a> <a href="javascript:;" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img alt="" src="images/assets/600_400-2.jpg">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="javascript:;" class="btn btn-primary" role="button">Button</a> <a href="javascript:;" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="panel panel-default">
    <!-- <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Bullet</div> -->
    <div class="panel-body">
        <div class="divider divider-lg"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="ui-bullet">
                    <div class="btn-icon btn-icon-round btn-icon-lg bg-primary">
                        <i class="fa fa-cab"></i>
                    </div>
                    <div class="ui-bullet-content">
                        <h3>This Bullet Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ui-bullet">
                    <div class="btn-icon btn-icon-round btn-icon-lg bg-info">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="ui-bullet-content">
                        <h3>Another Bullet Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ui-bullet">
                    <div class="btn-icon btn-icon-round btn-icon-lg bg-danger">
                        <i class="fa fa-joomla"></i>
                    </div>
                    <div class="ui-bullet-content">
                        <h3>Last Bullet Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider divider-lg"></div>
    </div>
</section>
