
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <!-- <html class="no-js" lang="en"> --> <!--<![endif]-->
<!-- <head> -->

    <!-- Basic Page Needs
    ================================================== -->
   <!--  <meta charset="utf-8">
    <title>Home &ndash; Santorini</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic&7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='styles/front-facing/flexslider.css'>
<!-- <link rel='stylesheet' href='styles/front-facing/font-awesome.css'> -->
<!-- <link rel='stylesheet' href='styles/front-facing/weather-icons.css'> -->
<link rel='stylesheet' href='styles/front-facing/bootstrap.css'>
<link rel='stylesheet' href='styles/front-facing/prettyPhoto.css'>
<link rel='stylesheet' href='styles/front-facing/mmenu.css'>
<link rel='stylesheet' href='styles/front-facing/jquery-ui-1.10.4.datepicker.min.css'>
<link rel='stylesheet' href='styles/front-facing.css'>
<link rel='stylesheet' href='styles/front-facing/mediaqueries.css'>
<link rel='stylesheet' href='styles/front-facing/colors/default.css'>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

   <!-- <style>
        /*
         When implementing this in a CMS, these styles should remain in the head
         and use if logic to switch between the .fwslider or alternative
         version of the theme (for correct header display). .fwslider or .alt in the body
         tag will convert the header display to white background with grey letters,
         as in index_alt.html -- feel free to delete this comment when you have no
         use for it
        */
     /*   #header {
            background: url("http://placehold.it/1920x230") no-repeat center top;
        }*/

        /*.fwslider #header { background: none; }*/
    </style> -->

<!-- </head>
<body class="fwslider front-page"> -->

<!-- <div id="mobile-bar" class="front-page">
    <a class="menu-trigger" href="#mobilemenu"><i class="fa fa-bars"></i></a>
    <h1 class="mob-title">Home</h1>
</div> -->

<div id="page" style="background: white;" class="front-page">
<!--     <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row pre-head">
                        <div class="col-sm-6">
                            <div id="weather">
                                <i class="ywicon"></i>
                                <span id="ywloc"></span>
                                <span id="ywtem"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <aside id="icl_lang_sel_widget" class="widget icl_languages_selector group"><h3 class="widget-title">Languages</h3><div id="lang_sel">
                                <ul>
                                    <li>
                                        <a href="#" class="lang_sel_sel icl-en">

                                        <img class="iclflag" src="images/flags/en.png" alt="en" title="English">
                                        &nbsp;English</a>
                                        <ul>
                                            <li class="icl-fr">
                                                <a href="http://www.cssigniter.com/preview/santorini/fr/">
                                                    <img class="iclflag" src="images/flags/fr.png" alt="fr" title="Français">&nbsp;
                                                    Français
                                                </a>
                                            </li>
                                            <li class="icl-de">
                                                <a href="http://www.cssigniter.com/preview/santorini/de/">
                                                    <img class="iclflag" src="images/flags/de.png" alt="de" title="Deutsch">&nbsp;
                                                    Deutsch
                                                </a>
                                            </li>
                                            <li class="icl-it">
                                                <a href="http://www.cssigniter.com/preview/santorini/it/">
                                                    <img class="iclflag" src="images/flags/it.png" alt="it" title="Italiano">&nbsp;
                                                    Italiano
                                                </a>
                                            </li>
                                            <li class="icl-ru">
                                                <a href="http://www.cssigniter.com/preview/santorini/ru/">
                                                    <img class="iclflag" src="images/flags/ru.png" alt="ru" title="Русский">&nbsp;
                                                    Русский
                                                </a>
                                            </li>
                                            <li class="icl-es">
                                                <a href="http://www.cssigniter.com/preview/santorini/es/">
                                                    <img class="iclflag" src="images/flags/es.png" alt="es" title="Español">&nbsp;
                                                    Español
                                                </a>
                                            </li>
                                            <li class="icl-el">
                                                <a href="http://www.cssigniter.com/preview/santorini/el/">
                                                    <img class="iclflag" src="images/flags/el.png" alt="el" title="Ελληνικα">&nbsp;
                                                    Ελληνικα
                                                </a>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </div>
                            </aside>
                        </div>
                    </div> <!-- .row.pre-head -->
                    <!-- <hr/>

                    <nav class="nav row">
                        <div class="col-sm-5">
                            <ul class="navigation left-nav">
                                <li class='current'><a class='current' href="index.html">Home</a></li>
                                <li><a href="index_alt.html">Home 2</a></li>
                                <li><a href="listing-3col.html">Listing</a>
                                    <ul>
                                        <li><a href="listing-4col.html">Listing 4 Columns</a></li>
                                    </ul>
                                </li>
                                <li><a href="room.html">Single Room</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-2">
                            <h1 class="logo"><a class='current' href="index.html"><img src="images/dummy/logo_white.png" alt=""></a></h1>
                        </div>

                        <div class="col-sm-5">
                            <ul class="navigation right-nav">
                                <li><a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="">Sub Item</a></li>
                                        <li><a href="">Multi Level</a>
                                            <ul>
                                                <li><a href="">Another level</a></li>
                                                <li><a href="">Another level</a></li>
                                                <li><a href="">Another level</a></li>
                                                <li><a href="">Another level</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">Sub Item</a></li>
                                    </ul>
                                </li>
                                <li><a href="booking.html">Booking</a></li>
                                <li><a href="gallery-single.html">Galleries</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>

                    <div id="mobilemenu">
                        <ul>
                            <li class='current'><a class='current' href="index.html">Home</a></li>
                            <li><a href="index_alt.html">Home 2</a></li>
                            <li><a href="listing-3col.html">Listing</a></li>
                            <li><a href="listing-4col.html">Listing 4 Columns</a></li>
                            <li><a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="">Sub Item</a></li>
                                    <li><a href="">Sub Item</a></li>
                                    <li><a href="">Sub Item Longer</a></li>
                                    <li><a href="">Sub Item</a></li>
                                </ul>
                            </li>
                            <li><a href="booking.html">Booking Page</a></li>
                            <li><a href="gallery-single.html">Galleries</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div> <!-- main container -->
            <!-- </div>
        </div>
    </header> -->

    <div id="slider" class="flexslider loading">
        <ul class="slides">
            <li style="background: url('http://4.bp.blogspot.com/-IuzWW4TZgFQ/UR-Vt2VOC-I/AAAAAAAAAVQ/4ZacwSodfR8/s1600/Outdoor+survival+guide.jpg') no-repeat center center">
                <div class="slide-info">
                    <h2 class="slide-title">Find a new adventure, in your back yard.</h2>
                    <p class="slide-subtitle">from only &dollar;125 / day.</p>

                    <a class="btn slide-more" href="#/pages/blank">Explore Adventures.</a>
                </div>
            </li>
            <li style="background: url('http://www.messersmith.name/wordpress/wp-content/uploads/2009/10/fishing_rods_IMG_5390.jpg') no-repeat center center">
                <div class="slide-info">
                    <h2 class="slide-title">Host a new adventure.</h2>
                    <p class="slide-subtitle">Share what you love with others.</p>

                    <a class="btn slide-more" href="#/pages/signup">Become A Host.</a>
                </div>
            </li>
<!--             <li style="background: url('http://placehold.it/1920x850') no-repeat center center">
                <div class="slide-info">
                    <h2 class="slide-title">Get Early Access.</h2>
                    <p class="slide-subtitle col-md-6"><input type="email" name="ci_newsletter_email" id="ci_newsletter_email" placeholder="your email"><a class="btn slide-more" href="">explore.</a></p>


                </div>
            </li> -->
        </ul>
    </div> <!-- #slider -->

    <div class="booking-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">

                <form class="b-form group" method="post" action="/">
                    <div class="arrival group">
                        <input type="text" name="arrive" id="arrive" class="datepicker" placeholder="The Date">
                    </div>

                    <div class="departure group">
                        <input type="text" name="depart" id="depart" class="" placeholder="The Place">
                    </div>

                    <div class="adults group">
                        <select name="adults" id="adults" class="dk">
                            <option selected disabled># Of People</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="4">5+</option>
                        </select>
                    </div>

                    <div class="room group">
                        <select name="room" id="room" class="dk">
                            <option selected disabled>The Adventure</option>
                            <option value="1">Hunting</option>
                            <option value="2">Fishing</option>
                            <option value="3">Camping</option>
                            <option value="4">Water Sports</option>
                            <option value="5">Everything</option>
                        </select>
                    </div>

                    <div class="bookbtn group">
                        <button type="submit">Explore</button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div> <!-- .booking-wrap -->

    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="widget-area-1">

                        <div class="widget widget_ci_testimonial_widget">
                            <div class="testimonial-wrap">
                                <div class="testimonial-inner">
                                    <blockquote>

                                        <i class="fa wi-sunrise logo-icon"></i>
                                        <p>Access Adventure.</p>

                                        <cite>Find the things you want to do, wherever you want to do it.</cite>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                    </div> <!-- .widget-area-1 -->

                    <div class="widget-area-2">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="widget">

                                    <div class="item">
                                        <figure class="item-thumb">
                                            <a href="room.html">
                                                <img src='styles/images/hunting.jpg' style="height:250px;" width='750' height='930' alt='Placeholder Image' />
                                            </a>
                                        </figure>

                                        <div class="item-content">
                                            <a class="item-title btn" href="#/pages/blank">Go Hunt.</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">

                                    <div class="item">
                                        <figure class="item-thumb">
                                            <a href="room.html">
                                                <img src='styles/images/fishing.jpg' style="height:250px;" width='750' height='930' alt='Placeholder Image' />
                                            </a>
                                        </figure>

                                        <div class="item-content">
                                            <a class="item-title btn" href="#/pages/blank">Go Fish.</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">

                                    <div class="item">
                                        <figure class="item-thumb">
                                            <a href="room.html">
                                                <img src='styles/images/camping.jpg' style="height:250px;" width='750' height='930' alt='Placeholder Image' />
                                            </a>
                                        </figure>

                                        <div class="item-content">
                                            <a class="item-title btn" href="#/pages/blank">Go Explore.</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> <!-- .widget-area-2 -->

                    <div class="widget-area-3">
                        <div class="row">
<!--                             <div class="col-sm-8">
                                <h3 class="widget-title">our blog</h3>

                                <article class="entry">
                                    <figure class="entry-thumb">
                                        <a href="single.html">
                                            <img src='http://placehold.it/750x425' style="height:250px;" width='750' height='425' alt='Placeholder Image' />
                                        </a>
                                    </figure>

                                    <h1 class="entry-title"><a href="single.html">Santorini: Five reasons to visit the beautiful Greek island</a></h1>
                                    <div class="entry-meta">
                                        <span class="entry-categories"><b>Posted Under</b> <a href="">Articles</a>, <a href="">Must Visit</a>, <a
                                            href="">Santorini</a></span>
                                        <a class="entry-comments" href="single.html#comments">3 Comments</a>
                                    </div>

                                    <div class="entry-excerpt">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda fuga illo laudantium magni sed temporibus. Amet atque aut autem consectetur consequuntur dolorum enim error hic inventore molestiae nisi nostrum numquam optio perspiciatis provident, quae quam quisquam quo similique suscipit veniam veritatis vero. Ab culpa cumque deleniti est explicabo facilis, ipsa itaque magni non officiis placeat provident quidem ratione recusandae reiciendis repellat, repudiandae tempora unde voluptates voluptatibus. Ab aliquid, blanditiis debitis eos eveniet ex incidunt itaque, labore maxime mollitia natus perspiciatis porro provident quidem quis reprehenderit rerum suscipit totam ullam voluptatum.</p>
                                    </div>
                                </article>

                            </div>

                            <div class="sidebar col-sm-4">

                                <div class="widget widget_ci_special_offer_widget">
                                    <h3 class="widget-title">special offer</h3>
                                    <div class="item">
                                        <figure class="item-thumb">
                                            <a href="booking.html">
                                                <img src='http://placehold.it/750x930' width='750' height='930' alt='Placeholder Image' />
                                            </a>
                                        </figure>

                                        <div class="item-content">
                                            <h4>Our wedding suite. 50% off. May 5th.</h4>
                                            <a class="item-title btn" href="booking.html">book now.</a>
                                        </div>
                                    </div>
                                </div>

                                <aside class="widget widget_ci_social_widget ci-socials group">
                                    <h3 class="widget-title">social</h3>
                                    <a href="#" class="social-icon" title="Subscribe to our RSS feed."><i class="fa fa-rss"></i></a>
                                    <a href="http://www.twitter.com/cssigniter" class="social-icon" title="Follow us on twitter."><i class="fa fa-twitter"></i></a>
                                    <a href="http://www.facebook.com/cssigniter" class="social-icon" title="Like us on Facebook."><i class="fa fa-facebook"></i></a>
                                    <a href="http://www.dribbble.com/tsiger" class="social-icon" title="See our Dribbble shots."><i class="fa fa-dribbble"></i></a>
                                </aside>


                                <div class="widget widget_ci_newsletter_widget">
                                    <h3 class="widget-title">newsletter</h3>

                                    <p>Get explosive offers straight to your inbox and win a free weekend stay!</p>
                                    <form class="ci-newsletter" action="/">
                                        <input type="email" name="ci_newsletter_email" id="ci_newsletter_email" placeholder="your email">
                                        <button type="submit"><i class="fa fa-chevron-right"></i></button>
                                    </form>
                                </div>

                            </div> -->
                        </div>
                    </div> <!-- .widget-area-3 -->
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <hr>

                    <nav class="nav row">
                        <div class="col-sm-5">
                            <ul class="navigation left-nav pull-right">
                                <li><a href="/"><strong>Home</strong></a></li>
                                <li><a href="#/pages/about"><strong>About</strong></a></li>
         <!--                        <li><a href="index_alt.html">Home 2</a></li>
                                <li><a href="listing-3col.html">Listing</a></li>
                                <li><a href="room.html">Single Room</a></li> -->
                            </ul>
                        </div>

                        <div class="col-sm-2">
                            <div class="logo"><a class='current' href="/"><i class="fa wi-sunrise logo-icon" style="font-size:50px;"></i><strong style="font-size:15px;">OUTDOOLA<strong></a></div>
                        </div>

                        <div class="col-sm-5">
                            <ul class="navigation right-nav pull-left">
                                <li><a href="#/pages/contact">Contact</a></li>
                                <li><a href="">Blog</a></li>
<!--                                 <li><a href="booking.html">Booking</a></li>
                                <li><a href="listing-3col.html">Galleries</a></li> -->
                            </ul>
                        </div>
                    </nav>

                    <p class="credits">&copy; Outdoola 2014</p>
                </div>
            </div>
        </div>
    </footer>
</div> <!-- #page -->

<!-- Javascript
================================================== -->
<script src='scripts/front-facing/jquery-1.10.1.min.js'></script>
<script src='scripts/front-facing/jquery-ui-1.10.4.custom.min.js'></script>
<script src='scripts/front-facing/superfish.min.js'></script>
<script src='scripts/front-facing/jquery.flexslider-min.js'></script>
<script src='scripts/front-facing/jquery.mmenu.min.js'></script>
<script src='scripts/front-facing/jquery.dropkick-min.js'></script>
<script src='scripts/front-facing/jquery.fitvids.js'></script>
<script src='scripts/front-facing/jquery.prettyPhoto.js'></script>
<script src='scripts/front-facing/contact.js'></script>
<script src='scripts/front-facing/scripts.js'></script>

<!-- </body> -->

